*.iml
.kotlin/
.kotlin/sessions/
.kotlin/errors/
.gradle/
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/logcat.txt
/logcat-moodboard.txt
/.idea/assetWizardSettings.xml
/.idea/shelf/
.DS_Store
Thumbs.db
Desktop.ini
/build
build-output/
/captures
.externalNativeBuild
.cxx
local.properties
.idea/deviceManager.xml
*.log
*.apk
*.aab
*.hprof
*.jks
*.keystore
*.bak
*.orig
*.rej
*~
config/signing/
private.properties.base64

/app/release
/.config
/config/keystore.properties
release.keystore
keystore_base64.txt
result/
logcat.txt
.idx/
.vscode/
node_modules/
node_modules
.env
./release-key.jks

# Python
__pycache__/
*.pyc
